<?xml version="1.0"?>
<robot name="a1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find robot_rl_simulation)/description/a1/xacro/const.xacro"/>
  <xacro:include filename="$(find robot_rl_simulation)/description/a1/xacro/materials.xacro"/>
  <xacro:include filename="$(find robot_rl_simulation)/description/a1/xacro/leg.xacro"/>
  <xacro:include filename="$(find robot_rl_simulation)/description/a1/xacro/ros2_control.xacro"/>
  <xacro:include filename="$(find robot_rl_simulation)/description/a1/xacro/gazebo_ros2_control.xacro"/>

  <link name="base_link"/>
  <joint name="base_to_trunk" type="fixed">
    <parent link="base_link"/><child link="trunk"/><origin xyz="0 0 ${trunk_offset_z}" rpy="0 0 0"/>
  </joint>
  <link name="trunk">
    <visual><geometry><mesh filename="package://robot_rl_simulation/description/a1/meshes/trunk.dae"/></geometry><material name="orange"/></visual>
    <collision><geometry><box size="${trunk_length} ${trunk_width} ${trunk_height}"/></geometry></collision>
    <inertial><origin xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}" rpy="0 0 0"/><mass value="${trunk_mass}"/><inertia ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}" iyy="${trunk_iyy}" iyz="${trunk_iyz}" izz="${trunk_izz}"/></inertial>
  </link>
  <xacro:leg name="FR" mirror="-1" mirror_dae="False" front_hind="1" front_hind_dae="True"><origin xyz="${leg_offset_x} ${-leg_offset_y} 0" rpy="0 0 0"/></xacro:leg>
  <xacro:leg name="FL" mirror="1" mirror_dae="True" front_hind="1" front_hind_dae="True"><origin xyz="${leg_offset_x} ${leg_offset_y} 0" rpy="0 0 0"/></xacro:leg>
  <xacro:leg name="RR" mirror="-1" mirror_dae="False" front_hind="-1" front_hind_dae="False"><origin xyz="${-leg_offset_x} ${-leg_offset_y} 0" rpy="0 0 0"/></xacro:leg>
  <xacro:leg name="RL" mirror="1" mirror_dae="True" front_hind="-1" front_hind_dae="False"><origin xyz="${-leg_offset_x} ${leg_offset_y} 0" rpy="0 0 0"/></xacro:leg>
</robot>
